.open-classes-section {
  padding: var(--spacing-8) 0;
  background-color: var(--color-background);
}

@media (min-width: 768px) {
  .open-classes-section {
    padding: var(--spacing-16) 0;
  }
}


.section-title .highlight-green {
  color: var(--color-success);
}

.class-list-wrapper {
  margin: 0 calc(var(--spacing-4) * -1);
  padding: 0 var(--spacing-4);
  overflow-x: auto;
  padding-bottom: var(--spacing-6);
  scrollbar-width: none;
}

.class-list-wrapper::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .class-list-wrapper {
    margin: 0;
    padding: 0;
    overflow-x: visible;
  }
}

.class-list {
  display: flex;
  gap: var(--spacing-6);
}

@media (min-width: 768px) {
  .class-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
